<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="false">

	<property name="LOG-FMT" value="%-5level %logger{25}.%M: %msg%n"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG-FMT}</pattern>
		</encoder>
	</appender>
		
	<logger name="es.qworks" level="trace"/>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>


</configuration>